@import url(https://fonts.googleapis.com/css?family=Roboto:400);

.page_404 { 
  padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img { width:100%; }

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size:80px;
}

.four_zero_four_bg h3 {
  font-size:80px;
}
			 
.link_404 {			 
	color: #fff!important;
  padding: 10px 20px;
  background: #0532EA;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 { 
  margin-top:-50px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: round;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
}

.chat, .room {
  width: 800px;
  background: #F2F5F8;
  color: #434651;
}
.chat .chat-header, .room .room-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img, .room .room-header img {
  float: left;
}
.chat .chat-header .chat-about, .room .room-header .room-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header, .room .room-header .room-num-rooms {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-history, .room .room-list {
  padding: 10px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  max-height: 460px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  font-size: 80%;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  /*width: 90%;*/
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #0532EA;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #0532EA;
}
.chat .chat-message, .room .room-create {
  padding: 20px;
}
.chat .chat-message textarea, .room .room-create input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Roboto", Arial, sans-serif;
  margin-bottom: 10px;
  resize: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


/*  Login Page */
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0532EA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #330ed4;
}
.form .message, .room-create .message {
  margin: 15px 0 0;
  color: #5d5d5d;
  font-size: 12px;
}
.form .message a {
  color: #0532EA;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* ****** Edits ****** */
ul {
  list-style: none;
}
.chat-history ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.room .room-list .room-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0532EA;
  padding: 12px 14px;
  line-height: 26px;
  font-size: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 90%;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.room .room-list .room-item {
  background: white;
}
.room .room-list a {
  text-decoration: none;
}
.loginBtn {
  width: 80%;
}
.form {
  background-color: #F2F5F8;
}
.form input {
    background-color: white;
}
.form-line {
  position: absolute; 
  left: 0px;
  width: 360px; 
  margin-top: 2px; 
  border-bottom: 2px solid white;
}
.chat-message button, .room-create button, .controls a {
  font-family: "Roboto", sans-serif;
  float: right;
  text-transform: uppercase;
  outline: 0;
  background: #0532EA;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: #330ed4;
}
a.rooms-btn {
  background-color: #FFFFFF;
  color: #0532EA
}
a.rooms-btn:hover, a.rooms-btn:active, a.rooms-btn:focus {
  background: #330ed4;
  color: #FFFFFF;
}
a.logout-btn{
  background-color: rgb(226, 98, 92);
}
a.logout-btn:hover, a.logout-btn:active, a.logout-btn:focus {
  background-color: rgb(245, 106, 99);
}
.controls {
  float: right;
  width: 270px;
  text-align: center;
  border-bottom: 2px solid white;
}
.controls a {
  width: 50%;
  margin: 0;
}
.chat-header img {
  width: 60px;
  height: 60px;
  border: 3px solid #676c75;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.controls a {
  text-decoration: none;
}
.message.error {
  color: red;
}
.message.success {
  color: #89c771;
}
.container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.container-fluid {
  margin-top: 3em;
  width: 50%;
}
.chat{
  padding-bottom: 500em;
  margin-bottom: -500em;
}
.not-found-error {
  padding: 5%;
  background-color: white;
}
.chat .chat-history .my-message {
  text-align: initial;
}